a {
  text-decoration: none;
}

.btn {
  border-radius: 4px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.12);
  background-color: white;
}

.btn--primary {
  background: #00cd57;
  padding: .5rem 1.25rem;
  border-bottom: 2px solid rgba(0,0,0,0.15);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}

.site-logo {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 13rem;
  height: 11rem;
  z-index: 10;
  border-radius: 10px;
}

.site-logo-container {
  position: absolute;
  width: 81%;
  height: 100%;
  top: 0;
  right: 0;
}

.overview-icon {
  width: 5rem;
  height: 5rem;
}

.make-icon svg {
  width: 5rem;
  height: 5rem;
  fill: #ffffff;
}
