<footer class="flex flex-wrap flex-row-m bg-near-black bottom-0 w-100 fw4" role="contentinfo">
  <div class="flex flex-column flex-auto-l mh4">
    <h4 class="white-90">Connect with Us</h4>
    {{ partial "social-follow.html" . }}
  </div>

  <div class="mh3 mh4-m">
    <h4 class="white-90">Survey</h4>
    {{ if .Site.Menus.learn }}
      <ul class="pa0">
        {{ range .Site.Menus.survey }}
        <li class="list f5 pb3">
          <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>

  <div class="mh3 mh4-m">
    <h4 class="white-90">Learn</h4>
    {{ if .Site.Menus.learn }}
      <ul class="pa0">
        {{ range .Site.Menus.learn }}
        <li class="list f5 pb3">
          <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>

  <div class="mh3 mh4-m">
    <h4 class="white-90">About</h4>
    {{ if .Site.Menus.privacy }}
      <ul class="pa0">
        {{ range .Site.Menus.privacy }}
        <li class="list f5 pb3">
          <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
  <p class="f6 white-90 fw4 w-100 pt3 pb3 pl3 pl4-ns bt">
    <a class="white-90 hover-white no-underline" href="{{ .Site.BaseURL }}" >
      &copy; {{ now.Format "2006" }} {{ .Site.Title }}
    </a> is part of the g0vnyc project.
  </p>
</footer>
