{{ define "main" }}
  <article class="bg-gold">
    <header class="mw7 pt5 pb5 mb5 center tc-ns ph3 ">
      <h1 class="f1-l washed-green">
        <span>Be heard this election.</span>
        Contribute your opinions in a meaningful way.
      </h1>

      <p class="mb1">If you feel like you should get a say in the decisions your city makes</p>
      <p class="mb1">feel like you are screaming into a void and would like to be heard</p>
      <p class="mb4">feel like you have opinions and knowledge that could benefit your community...</p>

      <p class="mb1">Use this this surveying tool as your microphone. <strong>Talk to New York and New York will hear you!</strong></p>

    </header>

    <section class="bt false b--black-10 flex flex-column flex-row-l items-stretch justify-stretch">
      <div class="bg-white flex w-50-l flex-column content-start justify-center-ns justify-start false pa4 order-2-l">
        <h2>Your Personal Opinion is What Counts</h2>
        <p class="mb1">Share what you know and feel.</p>
        <p class="mb1">Vote to agree/disagree/pass for each comment.</p>
        <p class="mb1">Use effective commenting guidelines to give open-ended feedback.</p>
      </div>
      <div class="bg-hot-pink flex w-50-l items-center justify-center pa5-l pa4 false">
        <img src="https://cdn-images-1.medium.com/max/1600/1*qO_flpWs3UhCXAe-ejl_Iw.png">
      </div>
    </section>

    <section class="bt false b--black-10 flex flex-column flex-row-l items-stretch justify-stretch">
      <div class="bg-white flex w-50-l flex-column content-start justify-center-ns justify-start pa4">
        <h2>Easy to Use. Open for Everyone.</h2>
        <p class="mb1">You do what you are good at — read text and express opinions.
        </p>
        <p class="mb1">Computers do what they are good at — find patterns and visualize the results.</p>
      </div>
      <div class="bg-blue flex w-50-l items-center justify-center pa5-l pa4 false">
        <img src="https://cdn-images-1.medium.com/max/1200/1*_V7AVvMsZg5m_YupJrXaAg.png">
      </div>
    </section>

    <footer class="center pv5 tc">
      <a class="btn btn--primary no-underline" href="/survey/">Take a Survey</a>
    </footer>
  </section>
  </article>

  <article id="make-survey" class="flex flex-row-ns flex-column pt5">
    <header class="mw7 mv5 tl-ns ph3 mb4">
      <h1 class="f1-l lh-title">Understanding the people in order to make more effective decisions.</h1>
      <p class="mb1">Are you a candidate looking to know your base</p>
      <p class="mb1">a city official looking to solve an issue</p>
      <p class="mb1">a community organizer looking to surface the concerns of you community</p>
      <p class="mb1">a city planner looking to crowdsource ideas</p>
      <p class="mb5">a jounalist looking to hear the people of New York</p>
      <a class="ba1 dib btn btn--primary no-underline" href="/learn/make-survey">Make a survey</a>
    </header>

    <div class="flex flex-column mw6 pr3-ns">
      <section class="bt false b--black-10 flex">
        <div class="make-icon bg-green flex items-center justify-center pa4-l pa3 false">
          {{ partial "icons/icon-survey.svg" }}
        </div>
        <div class="bg-white flex flex-column content-start justify-center-ns justify-start order-1-l pa3">
          <h3 class="mb1">Get started on making your own survey</h3>
          <p>Use expert guidelines to frame survey content and maximize success</p>
        </div>
      </section>

      <section class="bt false b--black-10 flex">
        <div class="make-icon bg-hot-pink flex items-center justify-center pa4-l pa3 false">
          {{ partial "icons/icon-messaging.svg" }}
        </div>
        <div class="bg-white flex flex-column content-start justify-center-ns justify-start order-1-l pa3">
          <h3 class="mb1">Effective messaging to structure your survey</h3>
          <p>Use expert guidelines to frame survey content and maximize success</p>
        </div>
      </section>

      <section class="bt false b--black-10 flex">
        <div class="make-icon bg-gold flex items-center justify-center pa4-l pa3 false">
          {{ partial "icons/icon-community.svg" }}
        </div>
        <div class="bg-white flex flex-column content-start justify-center-ns justify-start order-1-l pa3">
          <h3 class="mb1">Surveys to find out the issues concen your community</h3>
          <p>Use our templates to create surveys that surface the general concerns of your community and surveys that surface detailed community concerns around specific issues.</p>
        </div>
      </section>

      <section class="bt false b--black-10 flex">
        <div class="make-icon bg-blue flex items-center justify-center pa4-l pa3 false">
          {{ partial "icons/polis.svg" }}
        </div>
        <div class="bg-white flex flex-column content-start justify-center-ns justify-start order-1-l pa3">
          <h3 class="mb1">AI Powered Surveying Tool</h3>
          <p>Use Pol.is to gather organic, authentic feedback while retaining minority opinions.</p>
        </div>
      </section>
    </div>
  </article>
{{ end }}
