{{ define "main" }}
  <section class="cf ph2-ns bg-washed-green">
    <ul class="list pa0 ma0 flex flex-wrap-m mw9 center">
      {{ range .Site.Data.HomeOverview.Overview }}
        {{ $icon := .Icon }}
        <li class="flex flex-column pv4 ph2 tc w-50-ns">
          <div class="mb3 center w4-ns h4 pa3">
            <img src="{{ $icon }}">
          </div>
          <p class="measure-narrow center ph2 self-end">{{ .Text }}</p>
        </li>
      {{ end }}
    </ul>
  </section>

  <article>
    <header class="mw7 mt6 mb5 center tc-ns ph3 mb4">
      <h1 class="f1-l">
        <span>Be heard this election.</span>
        Contribute your opinions in a meaningful way.
      </h1>
    </header>

    <section class="bt false b--black-10 flex flex-column flex-row-l items-stretch justify-stretch">
      <div class="bg-white-90 flex w-50-l flex-column content-start justify-center-ns justify-start false pa4 order-2-l">
        <h2>Your Personal Opinion is What Counts</h2>
        <p>Share what you know and feel.</p>
        <p>Vote to agree/disagree/pass for each comment.</p>
        <p>Use effective commenting guidelines to give open-ended feedback.</p>
      </div>
      <div class="bg-hot-pink flex w-50-l items-center justify-center pa5-l pa4 false">
        <img src="https://cdn-images-1.medium.com/max/1600/1*qO_flpWs3UhCXAe-ejl_Iw.png">
      </div>
    </section>

    <section class="bt false b--black-10 flex flex-column flex-row-l items-stretch justify-stretch">
      <div class="bg-white-90 flex w-50-l flex-column content-start justify-center-ns justify-start pa4">
        <h2>Easy to Use. Open for Everyone.</h2>
        <p>You do what you are good at — read text and express opinions.
        </p>
        <p>Computers do what they are good at — find patterns and visualize the results.</p>
      </div>
      <div class="bg-washed-green flex w-50-l items-center justify-center pa5-l pa4 false">
        <img src="https://cdn-images-1.medium.com/max/1200/1*_V7AVvMsZg5m_YupJrXaAg.png">
      </div>
    </section>

    <section class="bt false b--black-10 flex flex-column flex-row-l items-stretch justify-stretch">
      <div class="bg-white-90 flex w-50-l flex-column content-start justify-center-ns justify-start pa4 order-2-l">
        <h2>AI Powered Surveying Tool</h2>
        <p>Gather organic, authentic feedback while retaining minority opinions.</p>
      </div>
      <div class="bg-washed-yellow flex w-50-l items-center justify-center pa5-l pa4 false">
        <img src="https://cdn-images-1.medium.com/max/1200/1*jMWmi0VF-L_2xU7DcNjuWg.png">
      </div>
    </section>

    <footer class="center pv5 tc">
      <a class="btn btn--primary no-underline" href="/survey/take">Take a Survey</a>
    </footer>
  </section>

  <article id="make-survey">
    <header class="mw7 mv5 center tc-ns ph3 mb4">
      <h1>Understanding the people in order to make more effective decisions.</h1>
    </header>

    <div class="flex flex-row flex-wrap">
      <section class="bt w-50-ns false b--black-10 flex flex-column items-stretch justify-stretch">
        <div class="bg-gold flex items-center justify-center pa5-l pa4 false">
          <img src="/icons/icon-participating.svg">
        </div>
        <div class="bg-white-90 flex flex-column content-start justify-center-ns justify-start order-1-l pa4">
          <h3>Get started on making your own survey</h3>
          <p>Use expert guidelines to frame survey content and maximize success</p>
        </div>
      </section>

      <section class="bt w-50-ns false b--black-10 flex flex-column items-stretch justify-stretch">
        <div class="bg-hot-pink flex items-center justify-center pa5-l pa4 false">
          <img src="/icons/icon-participating.svg">
        </div>
        <div class="bg-white-90 flex flex-column content-start justify-center-ns justify-start order-1-l pa4">
          <h3>Effective messaging to structure your survey</h3>
          <p>Use expert guidelines to frame survey content and maximize success</p>
        </div>
      </section>

      <section class="bt w-50-ns false b--black-10 flex flex-column items-stretch justify-stretch">
        <div class="bg-light-purple flex items-center justify-center pa5-l pa4 false">
          <img src="/icons/icon-participating.svg">
        </div>
        <div class="bg-white-90 flex flex-column content-start justify-center-ns justify-start order-1-l pa4">
          <h3>Broad surveys to find out the issues concern your community</h3>
          <p>Use our templates to create surveys that surface the general concerns of your community.</p>
        </div>
      </section>

      <section class="bt w-50-ns false b--black-10 flex flex-column items-stretch justify-stretch">
        <div class="bg-gold flex items-center justify-center pa5-l pa4 false">
          <img src="/icons/icon-participating.svg">
        </div>
        <div class="bg-white-90 flex flex-column content-start justify-center-ns justify-start order-1-l pa4">
          <h3>Focused surveys to help you diagnose what truly matters to your community</h3>
          <p>Use our templates to create surveys that surface detailed community concerns around specific issues.</p>
        </div>
      </section>
    </div>

    <footer class="center pv5 tc">
      <a class="ba1 dib btn btn--primary no-underline" href="/survey/make">Make a survey</a>
    </footer>
  </article>
{{ end }}
